<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleDbConnection"
         connectionString="User Id=YOUR_USERID;Password=YOUR_PASSWORD;Data Source=YOUR_DATASOURCE"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>
